{% extends 'base.html' %}
{% block content %}
<link rel="stylesheet" href="../../static/css/elements.css">
<div class="container">
<div class="block">
    <div class="block-text-left bg-sunny">
        <h2>What is Lorem Ipsum?</h2>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
    </div>
    <div class="block-middle bg-sunny"></div>
    <div class="block-right bg-sunny"></div>
    <div class="block-photo-right">
        <img src="../../../static/graphics/group2.jpg" alt=”bioinfa”></div>
    </div>
</div>

<div class="block">
    <div class="block-text-right bg-sunny">
        <h2>Where does it come from?</h2>
        <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia,</p>
    </div>
    <div class="block-left bg-sunny"></div>
    <div class="block-middle bg-sunny"></div>
    <div class="block-photo-left">
        <img src="../../../static/graphics/stanowski.png" alt=”bioinfa”>
    </div>
</div>
{% endblock %}